#select-page {
    width: 200px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 40px;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    text-transform: capitalize;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

.row {
    margin-bottom: 20px;
}

.row input, .row textarea {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    font-size: 14px;
}

.row input {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}

.row textarea {
    padding: 10px;
    resize: none;
    height: 200px;
}

button.save {
    width: 120px;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    color: #ffffff;
    font-size: 18px;
    border: none;
}

button.save:hover {
    opacity: 0.7;
}