.Layout-Content {
    width: 1000px;
    margin: 20px auto;
    border: 1px solid #000;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}