.ContentPage h1 {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    background: red;
    margin-bottom: 40px;
    padding: 20px 0;
}

.ContentPage .text {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    color: #000;
}